.cart-item {
  width: 350px;
  height: 310px;
  border-radius: 10px;
  margin-bottom: 65px;
  text-align: center;
  background-color: var(--cart-background);
  box-shadow: 12px 29px 81px 0px var(--cart-background-shadow);
  transition: background-color 250ms linear, box-shadow 250ms linear;
}

.cart-item__title {
  font-size: 38px;
  font-weight: 600;
  height: 97px;
}
.cart-item__subtitle {
  font-size: 28px;
  font-weight: 600;
}

.cart-item__content {
  padding-top: 20px;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  padding-left: 20px;
}

.cart-item__content-item {
  color: var(--cart-color);
  transition: color 300ms linear;
}

.cart-item__content_color {
  color: var(--cart-value);
  transition: color 400ms linear;
}
